---
gateway_authenticator_maps:
{% for __map in gateway_authenticator_maps %}
{%   for __map_item in (__map | dict2items) %}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ __map_item.value }}
{%     else %}
    {{ __map_item.key }}: {{ __map_item.value }}
{%     endif %}
{%   endfor %}
{%- endfor %}
...
