[defaults]

# Making things easier to read
callback_result_format = yaml
callback_format_pretty = true

# Enabling this to help speed things up
pipelining = true

# Content Paths
roles_path = ./roles
collections_path = ./collections

[galaxy]
server_list = rh_certified, rh_validated, galaxy

[galaxy_server.rh_certified]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.rh_validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.galaxy]
url=https://galaxy.ansible.com