{% if (current_user_index | default(0)) == 0 %}
---
aap_user_accounts:
{% endif %}
- username: "{{ current_users_asset_value.username }}"
{%  if show_encrypted is defined and show_encrypted %}
  password: "{{ current_users_asset_value.password }}"
{%  elif secrets_as_variables is defined and secrets_as_variables %}
  password: "{{ current_users_asset_value.password | replace("$encrypted$", "{{ " + secrets_as_variables_prefix + "controller_users_" + (current_users_asset_value.username | replace(' ', '_') | lower) + "_password }}") }}"
{%  else %}
  password: "INITIAL"
{%  endif %}
  email: "{{ template_overrides_resources.user[current_users_asset_value.username].email
             | default(template_overrides_global.user.email)
             | default(current_users_asset_value.email) }}"
  first_name: "{{ template_overrides_resources.user[current_users_asset_value.username].first_name
                  | default(template_overrides_global.user.first_name)
                  | default(current_users_asset_value.first_name) }}"
  last_name: "{{ template_overrides_resources.user[current_users_asset_value.username].last_name
                 | default(template_overrides_global.user.last_name)
                 | default(current_users_asset_value.last_name) }}"
  auditor: "{{ template_overrides_resources.user[current_users_asset_value.username].is_system_auditor
               | default(template_overrides_global.user.is_system_auditor)
               | default(current_users_asset_value.is_system_auditor) }}"
  superuser: "{{ template_overrides_resources.user[current_users_asset_value.username].is_superuser
                 | default(template_overrides_global.user.is_superuser)
                 | default(current_users_asset_value.is_superuser) }}"
  update_secrets: false
{% if last_user | default(true) | bool %}
...
{% endif %}
