---
eda_credentials:
{% for eda_credential in current_eda_credentials_asset_value %}
  - name: "{{ eda_credential.name }}"
    description: "{{ template_overrides_resources.eda_credential[eda_credential.name].description
                     | default(template_overrides_global.eda_credential.description)
                     | default(eda_credential.description) }}"
{%   if eda_credential.credential_type is defined %}
    credential_type: "{{ eda_credential.credential_type.name }}"
{%   endif %}
{%   if eda_credential.organization is defined %}
    organization: "{{ eda_credential.organization.name }}"
{%   endif %}
{%   if eda_credential.references is defined %}
    references: "{{ eda_credential.references }}"
{%   endif %}
{%   if eda_credential.inputs is defined %}
    inputs:
{%     for input in (template_overrides_resources.eda_credential[eda_credential.name].inputs |
                   default(eda_credential.inputs)) | dict2items %}
{%       if input.value is string and '\n' in input.value %}
      {{ input.key }}: |-
        {{ input.value | indent(width=8) }}
{%       elif show_encrypted is defined and show_encrypted %}
      {{ input.key }}: {{ input.value }}
{%       elif secrets_as_variables is defined and secrets_as_variables %}
      {{ input.key }}: {{ input.value | replace("$encrypted$", "\"{{ " + secrets_as_variables_prefix + "_eda_credentials_" + (eda_credential.name | lower | regex_replace('[^a-z0-9]','_')) + "_" + (input.key | lower | regex_replace('[^a-z0-9]','_')) + " | default('$encrypted$') }}\"") }}
{%       else %}
      {{ input.key }}: {{ input.value | replace("$encrypted$", "\'\'") }}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
...
