---
hub_ee_registries:
{% set __excluded_fields = ['id', 'pulp_href', 'created_at', 'updated_at', 'last_sync_task', 'write_only_fields'] %}
{% set __list_items = [] %}
{% for current_ee_registry in current_hub_ee_registries_asset_value %}
{%   for __map_item in (current_ee_registry | dict2items) if __map_item.key not in __excluded_fields %}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") }}
{%     else %}
    {{ __map_item.key }}: {{ __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") }}
{%     endif %}
{%-  endfor %}
{% endfor %}
...
